
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Hello Admin!</h1>

<div>
    <a asp-action="ContentList" asp-route-id="./ContentList">Content List</a>
</div>
<div>
    <a asp-action="UsersList" asp-route-id="./UsersList">Users List</a>
</div>

