
@{
    ViewData["Title"] = "Comment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h1>Your comment have been created. Thank you!</h1>

    <div>
        <a href='javascript:history.go(-1)'>Go Back to Previous Page</a>
    </div>