@model IEnumerable<pagexd.ViewModels.PostWithCommentsVM>


@using Microsoft.AspNetCore.Identity
@using pagexd.Data
@using pagexd.Models
@inject UserManager<PageUser> UserManager

<div>
    @foreach (var m in Model)
    {
        @if (m.CommentVM.PostIDref == m.PostVM.PostID)
        {
                <div class="content-title">
                    <h1 class="display-4">@m.CommentVM.UserID</h1>
                    <h5>@m.CommentVM.Txt</h5>
                </div>
        }
    }
</div>